.service {



    .p-20 {
        padding: 20px;

        @media (min-width: 320px) and (max-width: 575px) {
            padding: 10px;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            padding: 15px;
        }
    }

    .container {

        margin: auto;

        @media (min-width: 768px) and (max-width: 991px) {
            width: 100%;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            width: 90%;
        }

        @media (min-width: 320px) and (max-width: 575px) {
            width: 95%;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            width: 95%;
        }
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 320px) and (max-width: 575px) {
            flex-direction: column;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .service-banner {
        width: 100%;
        height: 420px;
        background: var(--background) no-repeat;
        background-size: cover;
        margin: auto;
        display: flex;

        @media (min-width: 320px) and (max-width: 575px) {
            height: 235px;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            height: 370px;
        }

        .service-container {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .section {
                h2 {
                    text-align: right;
                    font-size: 46px;
                    font-weight: 700;
                    line-height: 78px;
                    color: var(--color);

                    @media (min-width: 320px) and (max-width: 575px) {
                        font-size: 24px;
                        line-height: 33px;
                        text-align: left;
                    }

                    @media (min-width: 576px) and (max-width: 767px) {
                        font-size: 38px;
                        line-height: 60px;
                        text-align: left;
                    }
                }

                img {
                    height: 300px;
                    margin: auto;
                    display: block;

                    @media (min-width: 320px) and (max-width: 575px) {
                        height: 200px;
                    }

                    @media (min-width: 576px) and (max-width: 767px) {
                        height: 250px;
                    }

                    @media (min-width: 768px) and (max-width: 991px) {
                        width: 100%;
                        height: 250px;
                    }
                }
            }
        }
    }

    .form-section {
        .container {
            column-gap: 30px;
            @media (min-width: 768px) and (max-width: 991px) {
                column-gap: 0px;
            }

            .section {
                .text-container {
                    width: 85%;
                    margin-right: auto;

                    @media (min-width: 320px) and (max-width: 575px) {
                        width: 100%;
                        margin: auto;
                    }

                    @media (min-width: 576px) and (max-width: 767px) {
                        width: 95%;
                        margin: auto;
                    }

                    @media (min-width: 768px) and (max-width: 1199px) {
                        width: 95%;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;
                    text-align: justify;
                    color: #363636cc;
                }
            }
        }
    }

    .content-section {
        .content-header {
            margin: auto;
            display: block;

            h2 {
                font-size: 44px;
                font-weight: 400;
                line-height: 78px;
                text-align: center;

                @media (min-width: 320px) and (max-width: 575px) {
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    line-height: 33px;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 38px;
                    display: flex;
                    flex-direction: column;
                    line-height: 33px;
                }
            }
        }

        .content .container:nth-child(even) {
            flex-direction: row-reverse;
            @media (min-width: 320px) and (max-width: 767px) {
                flex-direction: column-reverse;
            }
            .section {
                .text-container {
                    margin-right: auto;
                    margin-left: 0;
                }
            }
        }

        .container {
            column-gap: 30px;

            @media (min-width: 320px) and (max-width: 767px) {
                flex-direction: column-reverse;
            }

            .section {
                .text-container {
                    width: 85%;
                    margin-left: auto;

                    @media (min-width: 320px) and (max-width: 575px) {
                        width: 100%;
                        margin: auto;
                    }

                    @media (min-width: 576px) and (max-width: 767px) {
                        width: 95%;
                        margin: auto;
                    }
                }
                .image-container {
                    background: url("../../../Images/service_section.png") no-repeat;
                    background-size: 100%;
                    background-position: center;

                    img {
                        height: 300px;
                        width: 450px;
                        max-width: 100%;
                        height: auto;

                        @media (min-width: 320px) and (max-width: 575px) {
                            height: 230px;
                            width: auto;
                        }

                        @media (min-width: 768px) and (max-width: 991px) {
                            width: 100%;
                            height: auto;
                        }

                        @media (min-width: 768px) and (max-width: 1199px) {
                            width: 600px;
                        }
                    }
                }
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                text-align: justify;
                color: #363636cc;

                img {
                    height: 20px;
                    width: auto;
                }
            }
        }
    }
}
