.header_container {
  z-index: 99;
  width: 100%;
  position: relative;
  padding: 50px 10px;
  display: flex;
  min-height: 7rem;
  align-items: center;
  background-color: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 30px -50px;
}
.nav_link {
  position: relative;
  padding: 10px 20px;
}

.menu {
  font-size: 2.5rem;
  margin: 15px 10px;
}

.nav_link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/Brush.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.nav_link:hover {
  color: #fff;
  // font-weight: bold;
}

.nav_link:hover::after {
  opacity: 1;
}
.nav_link.active:hover::after {
  opacity: 0;
}

.nav_link {
  position: relative;
  padding: 10px 20px;
}

// .nav_link:hover{
//   clip-path: url('../../Images/Brush.svg');
// }

.nav_link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/Brush.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.nav_link:hover {
  color: #fff;
  // font-weight: bold;
}

.nav_link:hover::after {
  opacity: 1;
}
.nav_link.active:hover::after {
  opacity: 0;
}

.nav_link.active {
  font-weight: bold;
  color: #bb00ea;
  font-size: 1.13vw;
}

.bg-nav-img {
  position: absolute;
  width: 115px;
  top: 1.3vw;
  z-index: -9;
  opacity: 0;
  transition: all ease 0.1s;
}

.header_section {
  display: flex;
  width: 100%;
  align-items: center;
}

.img1 {
  left: 25vw;
}
.img2 {
  left: 33%;
}
.img3 {
  left: 42vw;
}
.img4 {
  left: 51vw;
}
.img5 {
  left: 60.5vw;
}
.img6 {
  left: 69.5vw;
}
// .bg-nav-img:not(.active):hover {
//   opacity: 1;
// }
.nav_link:not(.active):hover + .bg-nav-img {
  opacity: 1;
}

.bg-nav-img:hover a {
  color: #fff;
}

.logo {
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  /* height: 100%; */
  width: 15%;
  margin-left: 3%;
  margin-top: -2%;
  img {
    width: 12vw;
    object-fit: cover;
  }
}

.links__ {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 23%;

  a {
    text-decoration: none;
    margin: 0 10px;
    color: #363636;
    font-weight: 500;
    font-size: 1.05vw;
    z-index: 99;
    transition: all ease 0.1s;
  }
}

.header_section {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 40px;
}

@media (max-width: 1080px) {
  .menu {
    font-size: 2.5rem;
    margin: 15px 10px;
    display: block;
  }
  .header_container {
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }
  .logo {
    width: 25%;
  }
  .links__ .nav-links {
    height: 8rem;
  }
  .links__ {
    flex-direction: column;
    align-items: start;

    #links_menu {
      margin-top: 10vw;
      flex-direction: column;
      width: 45%;
      top: -16vh;
      right: 0;
      font-size: 3vw;
      position: absolute;
      margin-bottom: 0.5rem;
      height: 93vh;
      border-top-left-radius: 10vw;
      border-bottom-left-radius: 10vw;
      background-color: #f8f4f4;

      a {
        position: relative;
        top: 20vw;
        margin-top: 40vh;
        margin-bottom: 8vh;
        margin-left: 20vw;
        font-weight: 600;
      }
      .nav_link.active {
        font-size: 3.1vw;
      }
      /* display: none; */
      /*   flex-direction: column;
        align-items: start; */
    }
    .links_menu {
      display: none;

      /*    a{
          margin-top: 8vw;
          margin-bottom: -10vw;
          margin-left:20vw;
          font-weight: 600;
        } */
    }
  }

  @media (max-width: 998px) {
    .header_container {
    }
    .links__ {
      flex-direction: column;
      align-items: start;

      #links_menu {
        margin-top: 10vw;
        flex-direction: column;
        width: 55%;
        top: -8vh;
        right: 0;
        font-size: 4.4vw;
        position: absolute;
        margin-bottom: 0.5rem;
        height: 93vh;
        border-top-left-radius: 10vw;
        border-bottom-left-radius: 10vw;
        background-color: #f8f4f4;

        a {
          position: relative;
          top: 60vw;
          margin-top: 40vh;
          margin-bottom: 8vh;
          margin-left: 20vw;
          font-weight: 600;
          font-size: 4vw;
          padding: 0;
        }
        .nav_link.active {
          font-size: 4.6vw;
        }
      }
      .links_menu {
        display: none;
      }
    }

    .logo img {
      /* height: 7rem; */
      width: 40vw;
      margin-left: 6vw;
    }
  }
}
@media (max-width: 376px) and (max-width: 414px) {
  .mobile-board {
    position: absolute;
    right: 23% !important;
    top: 33% !important;
    width: 109px !important;
  }
  .menu {
    font-size: 2.5rem;
    margin: 15px 10px;
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-board {
    display: none;
    // position: absolute;
    // right: 33% !important;
    // top: 33% !important;
    // width: 109px !important;
  }
  .menu {
    font-size: 2.5rem;
    margin: 15px 10px;
    display: none;
  }
}
@media (max-width: 321px) and (max-width: 375px) {
  .mobile-board {
    position: absolute;
    right: 23% !important;
    top: 33% !important;
    width: 109px !important;
  }
  .menu {
    font-size: 2.5rem;
    margin: 15px 10px;
    display: none;
  }

  .nav_link {
    position: static;
  }
}

@media (max-width: 415px) and (max-width: 480px) {
  .mobile-board {
    position: absolute;
    right: 23% !important;
    top: 33% !important;
    width: 109px !important;
  }

  .nav_link {
    position: static;
  }
}

@media (max-width: 481px) and (max-width: 575px) {
  .mobile-board {
    position: absolute;
    right: 23% !important;
    top: 33% !important;
    width: 109px !important;
  }

  .nav_link {
    position: static;
  }
}
