.card-main{
    height: 400px;
    // width: 344px;
    border-radius: 30px;
    font-family:  Montserrat;
    flex-shrink: 0;
    background: linear-gradient(152.52deg, rgba(37, 142, 234, 0.8) 38.86%, rgba(118, 191, 255, 0.8) 68.43%, rgba(37, 142, 234, 0.8) 98%);
    margin: auto;
    display: block;

    .card-img{
        height: 60%;
        width: 80%;
    }

    img{
        height: 100%;
        width: 100%;
        margin-top: 40px;
        margin-left: 20px;
        object-fit: cover;
    }

    h6{
        font-size: 24px;
        font-weight: 700;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
/*         margin-top: 80px;
        margin-left: 60px; */
    }

    @media (max-width : 768px){
        h6{
            font-size: 5vw;
        }
    }
}