.footer_main {
  width: 100%;
  background-color: #0b223a;

  .contact {
    height: 100%;

    color: #fff;
    margin-top: 3px;
    p {
      width: 70%;
      font-size: 1rem;
      line-height: 1.5;
    }
    .contact-msg {
      h6 {
        font-size: 1rem;
        font-weight: 400;
        // padding-top: 30px;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .yellow_line {
    width: 25%;
    &::after {
      border-bottom: 2px solid #ffc335;
      content: "";
      display: block;
      margin: auto;
      padding-bottom: 15px;
    }
  }
  .quick-links {
    height: 100%;

    color: #fff;
    .line1 {
      &::after {
        border-bottom: 2px solid #ffc335;
        content: "";
        display: block;
        width: 77px;
        padding-bottom: 15px;
      }
    }
    .different-links {
      a {
        text-decoration: none;
        font-size: 1rem;
        color: #fff;
        line-height: 39px;
        padding: 8px 15px;
      }
    }

    .quick-msg {
      h6 {
        font-size: 1.1rem;
        font-weight: 400;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      .quick-icon {
        font-size: 1.1rem;
      }
    }
  }

  .social-links {
    height: 100%;

    color: #fff;
    .line2 {
      &::after {
        border-bottom: 2px solid #ffc335;
        content: "";
        display: block;
        width: 77px;
        padding-bottom: 15px;
      }
    }
    .line3 {
      &::after {
        border-bottom: 2px solid #ffc335;
        content: "";
        display: block;
        width: 77px;
        padding-bottom: 15px;
      }
    }

    h2 {
      // position: absolute;
      // top: 40%;
      // font-size: 1.9vw;
    }
    .social-apps {
      display: flex;
      align-items: center;
      // position: absolute;
      // top: 30%;
      .apps {
        height: 2rem;
        width: 2rem;
        background-color: #fff;
        color: #082137;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 50%;
        margin: 0 5px;
      }
    }
    .google-play {
      width: 220px;
      position: absolute;
      top: 60%;
    }
  }

  .footer__ {
    width: 80%;
    background-color: #0b223a;
    margin: 0 auto;
  }
  .bottom {
    height: 10vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c0c0c0;
    color: #fff;
    margin: 0 auto;
    flex-wrap: wrap;
    .bottom-container {
      display: flex;
      align-items: center;
    }

    a {
    
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      padding: 4px 10px;
      text-decoration: none;
    }
    h6 {
      font-size: 1rem;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .footer__ {
      width: 100%;

      .bottom {
        margin-top: 12vw;
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #fff;
        color: #fff;

        h2 {
          display: none;
        }
        h6 {
          margin-right: 35vw;
          font-size: 3rem;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 425px) {
    .footer {
      padding: 0;
      height: 100%;

      .top h2 {
        font-size: 18px;
      }

      .top .contact .contact-msg h6,
      .top .quick-links .quick-msg h6 {
        margin-left: 0;
      }

      .top .quick-links .quick-msg,
      .top .social-links h2,
      .top .social-links .social-apps,
      .top .social-links .google-play {
        position: relative;
        top: 0;
      }

      .top .social-links .google-play {
        width: 150px;
      }

      .bottom {
        flex-direction: column;
        .bottom-container {
          display: none;
        }
        h6 {
          margin: 20px auto;
          text-align: center;
        }
        a {
          font-size: 12px;
        }
      }
    }
  }
}
