body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1024px) {
  .social {
    display: none !important;
  }
}

.main {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
#pg4-content #swiper-pg4 .member {
  width: 30rem !important;
  height: 22rem !important;
  font-family: "Montserrat", sans-serif;
}

#pg4-content .swiper {
  width: 100%;
  height: 85% !important;
  font-family: "Montserrat", sans-serif;
  padding: 5rem 0px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 80% !important;
  z-index: 100000 !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 45%) !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 45%) !important;
  left: auto;
}

input {
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 100% !important;
  margin: 0.6rem;
  border: 2px solid #bcbcbc;
  font-family: Montserrat;
}

input::placeholder {
  color: #909090;
}

input:focus,
input:active {
  border: 2px solid #bcbcbc;
  outline: none;
}

select {
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0.6rem;
  border: 2px solid #bcbcbc;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./Images/selection-arrow.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 9px;
  font-family: Montserrat;

  option {
    color: #bcbcbc;
  }
}

textarea {
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  max-width: 100%;
  margin: 0.6rem;
  border: 2px solid #bcbcbc;
  font-family: Montserrat;
}

.hover_arrow_btn {
  padding: 13px 13px;
  border-radius: 50px;
  border: none;
  min-width: 15rem;
  outline: none;
  background-color: #082137;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  z-index: 9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  text-decoration: none;
  width: 129px;
  gap: 10px;
}

.hover_arrow_btn:hover {
  background: linear-gradient(
    105.67deg,
    #082137 -1.94%,
    #9747ff -1.92%,
    #082137 154.95%
  );
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 20px)) !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%) ;
  background: var(--swiper-pagination-bullet-inactive-color, #ffffff00) ;border: 2px solid #ffff;

  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet {
  --swiper-theme-color: #ffa603 !important;
}