body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1024px) {
  .social{
    display: none !important;
  }
}

.main{
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}









    
  #pg4-content #swiper-pg4 .member {
    width: 30rem !important;
    height: 22Rem !important;
  }



#pg4-content .swiper {
  width: 100%;
  height: 75% !important;
}


.swiper-button-prev,
.swiper-button-next {

top: 80% !important;
z-index: 100000 !important;
}


.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 45%) !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 45%) !important;
  left: auto;
}








input{
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 100% !important;
  margin: 0.6rem;
  border: 2px solid #bcbcbc;
  font-family: Montserrat;
}

input::placeholder {
  color: #909090;
}

input:focus,
input:active {
  border: 2px solid #bcbcbc;
  outline: none;
}

select{
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0.6rem;
  border: 2px solid #bcbcbc;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./Images/selection-arrow.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 9px;
  font-family: Montserrat;

  option {
    color: #bcbcbc;
  }
}

textarea {
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  max-width: 100%;
  margin: 0.6rem;
  border: 2px solid #bcbcbc;
  font-family: Montserrat;
}