.social-media-main {

  width: 5%;
  position: fixed;
  top: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vw;
  z-index: 99;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .social-media-main {
      display: none;
    }
  }

  @media (min-width: 1400px) and (max-width: 1919px) {
    gap: 1.5vw;
    img {
      height: 35px;
    }

    .icon {
      width: 50%;
    }
  }

  @media (min-width: 1920px) and (max-width: 2560px) {
    gap: 2.5vw;
    img {
      height: 50px;
    }

    .icon {
      width: 50%;
    }
  }
}
